.under_main {
    padding-top: 78px;
}
//================================
//メインビジュアル
//================================
.mv {
    position: relative;
    height: 130px;
    max-width: 1440px;
    margin: 0 auto;
	background: url(../img/fv-bgi_01@2x.jpg) top center $colorMonoLight;
    background-size: cover;
    &::after {
		content: " ";
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $colorTransDeep;
    }
    .page_title {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }
}
//================================
//パンくずリスト
//================================
.breadcrumbs {
    overflow: auto;
    ul {
        display: table;
        overflow: visible;
        li {
            display: table-cell;
            padding: 10px 10px 10px 0;
            line-height: 1;
            white-space: nowrap;
            vertical-align: middle;
            font-size: 15px;
            a {
                vertical-align: middle;
                color: $colorMain;
                &:hover {
                    color: $colorMainPale;
                }
            }
            &::before {
                margin: 0 5px -5px;
                font-family: 'Material Icons';
                font-size: 20px;
                line-height: 1;
                white-space: nowrap;
                content: "\E5CC";
                vertical-align: middle;
            }
            &:first-of-type::before {
                margin: 0 5px 0 0;
                color: $colorMain;
                content: "\E88A";
            }
        }
    }
}
//================================
//ブログ
//================================
.card_box.card_side {
    a.card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 16px;
        .thumbnail_img {
            min-width: 40%;
            height: 100px;
            margin-right: 8px;
            margin-bottom: 0;
        }
        .card_text_box {
            flex-grow: 1;
        }
    }
}
//================================
//ブログ　記事ページ
//================================
.category{
    margin-bottom: 16px;
}
.writing_time {
    display: block;
    margin-bottom: 16px;
}
.paragraph_box {
    margin-bottom: 32px;
    .paragraph_img {
        text-align: center;
        margin-bottom: 16px;
    }
    .text_box {
        p {
            font-family: $fontFamilyBase;
            font-weight: normal;
            line-height: 1.7;
            margin-bottom: 16px;
        }
    }
}
//================================
//モーダルウインドウ
//================================


//================================
//ブログ02の内容
//================================
.flex_col_3 {
    .flex_item {
        .flex_item_img_wrapper {
            width: 200px;
            min-width: 200px;
            border-radius: 50%;
            overflow: hidden;
            .flex_item_img {
                width: 100%;
            }
        }
    }
}

//================================
//制作実績（サイト）
//================================
.site_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .thmb_img {
        width: 100%;
    }
    .site_info_text {
        width: 100%;
        background-color: $colorMainLight;
    }
}
.site_images {
    .col1 {
        width: 100%;
        background-color: #ddd;
        padding: 8px;
        margin-bottom: 8px;
    }
    .col2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        figure {
            width: 49%;
            background-color: #ddd;
            padding: 8px;
        }
    }
}

//================================
//カテゴリー
//================================
// .demo-cover{
//     margin:0 auto;
//     width:100%;
//     max-width:800px;
// }
//mixin
$color-bg:#f7f7f7;

//nav
.nav-cover {
    overflow: hidden;
    opacity: 1;
}
.nav-list-ttl {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
}
.nav-list {
    margin-bottom: 32px;
    >li {
        margin-top: 25px;
        &:first-child {
            margin-top: 0;
        }
    }
}
ul.nav-child {
    display: flex;
    flex-wrap: wrap;
    li {
        display: inline-block;
        margin-right: 1em;
        &:last-child {
            margin-right:0;
        }
    }
}
.nav-txt {
    display: block;
    width: 100%;
    font-feature-settings: "palt";
    font-size: 1.2rem;
    transition: .3s;
    >span {
        display: inline-block;
        margin-right: 3px;
        width: 10px;
    }
}
.nav-child-inner {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    width: 100%;
    padding: .5em 1em;
    background: $colorMainClear;
    border-radius: 5px;
}
.nav-btn {
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    .icon-close {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}
.nav-show-all {
    .nav-child-inner {
        text-align:center;
        font-size: 1.2rem;
        padding: .5em 1em;
        color: $colorMainDeep;
        background: $colorMainClear;
        line-height: 1;
        box-sizing:border-box;
    }
    .nav-input {
        &:checked {
            +label {
                color: $colorMonoLight;
            }
        }
    }
}
.sort-ttl {
    font-size:1.5em;
    font-weight:800;
    text-transform: lowercase;
}
//sort-list
.sort-list {
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    >li {
        width: 100%;
        min-height: 150px;
        margin-bottom: 24px;
        display: flex;
    }
}
.sort-list-cover {
    padding: 10px 0 15px;
    min-height: 190px;
}
.sort-list-head {
    padding: 0 10px;
}
.sort-list-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border:1px solid $colorMainDeep;
    padding:10px;
    box-sizing:border-box;
}
.nav-input {
    display: none;
    &:checked {
        +label {
            background:$colorMain;
            .nav-txt {
                color: #fff;
            }
        }
    }
}
.sort-list-ttl{
    font-size:1.6rem;
    text-align:center;
}
.sort-list-category{
    >span{
        display:inline-block;
        padding:5px 10px;
        border:1px solid #ddd;
        line-height:1;
        vertical-align:middle;
        border-radius:25px;
        box-sizing:border-box;
        +span{
        margin-left:5px;
        }
    }
}
//state
//sort-list
.sort-list {
    >li {
        display: none;
        animation: sort_clear .5s ease -.3s 1 normal;
        &.is-selected {
            display: flex;
            animation: sort_selected .5s ease -.1s 1 forwards;
            a:hover {
                box-shadow: $colorTransShadow;
                color: $colorMainDeep;
            }
            .works_title {
                padding: .5em;
                text-align: center;
                font-size: .8em;
            }
        }
    }
}
@keyframes sort_clear {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    99% {
        transform: scale(.7);
        opacity: 0;
    }
    100% {
        transform: scale(.7);
        opacity: 0;
    }
}
@keyframes sort_selected {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
        transform: scale(.7);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width:320px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
}
@media screen and (min-width:768px) {
    /*　画面サイズが768pxからはここを読み込む　*/
    .mv {
        height: 200px;
    }
    .works_wrapper.col3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .works_item {
            width: calc( 32% - 8px );
            margin-bottom: 32px;
            &:not(:nth-of-type(3n)) {
                margin-right: 16px;
            }
        }
    }
    .card_box.card_side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        a.card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc( 50% - 8px );
            margin-bottom: 16px;
            &:nth-of-type(odd) {
                margin-right: 16px;
            }
            .thumbnail_img {
                width: 40%;
                height: 100px;
                margin-right: 8px;
                margin-bottom: 0;
            }
            .card_text_box {
                flex-grow: 1;
            }
        }
    }
    .media_box {
        display: flex;
        justify-content: space-between;
        .paragraph_img {
            min-width: 35%;
            margin-right: 16px;
        }
    }
    .media_box_float {
        .paragraph_img {
            width: 35%;
            margin-right: 16px;
            float: left;
        }
    }
    .clearfix::after {
        content: " ";
        display: block;
        clear: both;
    }
    .site_info {
        .thmb_img {
            width: 49%;
        }
        .site_info_text {
            width: 49%;
            padding: 16px;
        }
    }
    .site_images {
        .col1 {
            padding: 16px;
            margin-bottom: 24px;
        }
        .col2 {
            margin-bottom: 24px;
            figure {
                padding: 16px;
            }
        }
    }
    .sort-list {
        >li {
            width: 33%;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
	/*　画面サイズが768pxから1024pxまではここを読み込む　*/
}
@media screen and (min-width:1024px) {
	/*　画面サイズが1024pxからはここを読み込む　*/
}